<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="false"
         verbose="true"
         colors="true">
  <testsuites>
    <testsuite name="praxis">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory suffix=".php">./vendor</directory>
      <directory suffix=".php">./tests</directory>
    </blacklist>
    <whitelist
        processUncoveredFilesFromWhitelist="true"
        addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./challenges</directory>
    </whitelist>
  </filter>
</phpunit>
